# cmake files
*~
CMakeFiles
cmake_install.cmake
CMakeCache.txt
dnsc

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
dnssrv

Makefile
Makefile.in
config*
aclocal.m4
autom4te.cache
.deps
missing
compile
install-sh
depcomp
*.log
stamp-h1
build

