# dnsproxy configure file
#
#[dnsproxy]

# the local ip to listen at
# 0.0.0.0 means listen all interface
# example:
#   listen_ip = 127.0.0.1
#   listen_ip = 192.168.1.10
#   listen_ip = 0.0.0.0
listen_ip = 127.0.0.1

# listen port, default is 53
# you need root privellage to startup the program
 
listen_port = 53

# the upstream dns servers
# example:
#   servers = 192.168.1.1,8.8.4.4
#servers = 114.114.114.114,8.8.8.8,208.67.222.222,192.168.1.252

servers = 192.168.1.1,8.8.8.8,202.180.160.1,202.45.84.59,202.45.84.67

# the ipv4 ip blacklist file,
# if upstream server return this ips, the result will be dropped
# the china GFW always return the fake ip for twitter.com facebook.com
# example:
#     blacklist= iplist.txt
#     blacklist= /home/xxxx/blacklist.txt
# DNS cache pollution, refer to
#      http://zh.wikipedia.org/wiki/%E5%9F%9F%E5%90%8D%E6%9C%8D%E5%8A%A1%E5%99%A8%E7%BC%93%E5%AD%98%E6%B1%A1%E6%9F%93
#
blacklist= iplist.txt

# run in background or not
# 0 - no, 1 - yes
# example:
#   daemon = 0
#   daemon = 1
daemon = 1

# logfile
#   a file name to log to, use "stdout" for console
# example:
#   logfile = /tmp/dnsproxy.log
#   logfile = stdout
logfile = dnsproxy.log

#log level
#   5-all, 4-DEBUG, 3-INFO, 2-WARN, 1-ERROR
# example:
#   loglevel = 3
#   loglevel = 2
loglevel = 6

